*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E1F1E7;
}

@mixin borderRadius($border-radius) {
    border-radius:  $border-radius;
}

.contact-form{
    display: grid;
    grid-template-areas: 
    "title-form title-form"
    "form__group-firstName form__group-lastName"
    "form__group-email form__group-email"
    "queryType queryType"
    "generalEnquiry supportRequest"
    "form__group-message form__group-message"
    "text__consent text__consent"
    "button-submit button-submit";
    background-color: white;
    margin: 5rem 25rem;
    padding: 30px;
    @include borderRadius(0.8rem);
    

    input, fieldset, textarea, button{
        @include borderRadius(0.4rem);
        border: 1px solid black;
    }

    #title-form{
        grid-area: title-form;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 1.7rem;
    }

    .form__group-firstName{
        grid-area: form__group-firstName;

        input{
            width: 100%;
            height: 7vh;
            margin-top: 0.5rem
        }
    }

    .form__group-lastName{
        @extend .form__group-firstName;
        grid-area: form__group-lastName;
    }

    .form__group-firstName, .form__group-lastName{
        margin: 1rem 0.4rem;
    }

    .form__group-email{
        margin: 0.4rem;
        grid-area: form__group-email;

        input{
            margin-top: 0.5rem;
            margin-bottom: 0.4rem;
            width: 100%;
            height: 7vh;
        }
    }

    span{
        margin: 0.3rem 0.4rem;
    }

    .generalEnquiry{
        grid-area: generalEnquiry;
        height: 7vh;
    }

    .supportRequest{
        @extend .generalEnquiry;
        grid-area: supportRequest;
    }

    .generalEnquiry, .supportRequest{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        margin: 0.3rem 0rem;
        margin-bottom: 0.8rem;
        padding: 0rem 0.5rem;
        width: 100%;
    }
    
    .form__group-message{
        margin: 0.3rem 0.4rem;
        grid-area: form__group-message;

        textarea{
            margin-top: 0.5rem;
            width: 100%;
            height: 14vh;
        }
    }

    .text__consent{
        width: 100%;
        margin: 1.5rem 0.4rem;
        white-space: normal;
        grid-area: text__consent;

        label{
            padding: 0rem 0.5rem;
        }
    }

    .button-submit{
        display: flex;
        justify-content: center;
        grid-area: button-submit;

        button{
            width: 100%;
            height: 7vh;
            border: 1px solid transparent;
            background-color: #207C69;
            color: white;
        }
    }
}

@media (min-width: 320px) and (max-width: 568px){
    .contact-form{
        display: block;
        margin: 3rem 2rem;

        .generalEnquiry, .supportRequest{
            position: relative;
            left: 1.5%;
            margin-top: 0.5rem;
            width: 66.5vw;
        } 
    }
}

@media (min-width: 668px) and (max-width: 1024px){
    .contact-form{
        display: block;
        margin: 5rem 10rem;

        .generalEnquiry, .supportRequest{
            margin-top: 0.6rem;
            width: 59.1vw;
        }   
    }
}

@media (min-width: 1025px) and (max-width: 1440px){
    .contact-form{
        margin: 5rem 20rem;

        .generalEnquiry, .supportRequest{
            position: relative;
            left: 1.5%;
            width: 22.8vw;
        }   
    }
}

@media (min-width: 1441px) and (max-width: 1680px){
    .contact-form{
        margin: 5rem 30rem;

        .generalEnquiry, .supportRequest{
            position: relative;
            left: 1.5%;
            width: 17.7vw;
        }   
    }
}

@media (min-width: 1681px) and (max-width: 1920px){
    .contact-form{
        margin: 5rem 30rem;

        .generalEnquiry, .supportRequest{
            position: relative;
            left: 1.5%;
            width: 21.7vw;
        }   
    }
}

@media (min-width: 1921px) and (max-width: 2560px){
    .contact-form{
        margin: 5rem 30rem;

        .generalEnquiry, .supportRequest{
            position: relative;
            left: 0.8%;
            width: 28.9vw;
        }   
    }
}