* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0F1E7;
}

.contact-form{
    display: grid;
    grid-template-areas: 
    "title-form title-form"
    "form__group-firstName form__group-lastName"
    "form__group-email form__group-email"
    "queryType queryType"
    "form__group-message form__group-message"
    "text__consent text__consent"
    "button-submit button-submit";
    place-items: center;
    gap: 2rem;
    width: 90%;
    background-color: white;
}

    #title-form{
        position: relative;
        right: 15rem;
        grid-area: title-form;
    }

    .form__group-firstName{
        display: block;
        position: relative;
        right: 10rem;
        grid-area: form__group-firstName;
    }

    .form__group-lastName{
        display: block;
        position: relative;
        right: 15rem;
        grid-area: form__group-lastName;
    }

    .form__group-email{
        position: relative;
        margin: 1rem 2rem;
        grid-row: form__group-email;

        input{
            width: 33rem;
        }
    }

    .queryType{
        display: flex;
        justify-content: center;
        gap: 1rem;
        grid-area: queryType;
    }

    .form__group-message{
        display: block;
        position: relative;
        right: 5.2rem;
        gap: 10px;
        grid-area: form__group-message;

        textarea{
            width: 78vw;
        }
    }

    .text__consent{
        display: flex;
        position: relative;
        right: 12.8rem;
        grid-area: text__consent;
    }

    .button-submit{
        position: relative;
        right: 4rem;
        grid-area: button-submit;

        button{
            width: 70vw;
        }
    }





